@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nunito&display=swap');

body{
    background-color: #000000;
background-image: linear-gradient(160deg, #000000 0%, #8f9ffc 100%);
font-family: 'Cinzel', serif;
color: aliceblue;
margin: 0% 0%;
position: relative;
}

h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

footer{
    margin-top: 37rem;
    background-color: #000000;
    padding: 1rem 1rem;
    text-align: center;
    border: 0px solid white;
    border-top-left-radius: 1rem;
}

#container{
    background-color:rgba(0, 0, 0, 0.315);
    display: block;
    position: relative;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    width: 80%;
    margin: 0% 6.5%;
}

header{
    z-index: 1;
    position:sticky;
    top: 0%;
    border: 0px solid white;
    border-bottom-right-radius: 4rem;
    padding: 1rem 1rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: #000000;
}

textarea{
    position: relative;
    padding: 1rem;
    /* width: auto; */
    margin: 0.2rem;
    /* margin-left: 2rem; */
}

button{
    margin: 1rem;
    margin-left: 35%;
    width: 6rem;
    height: 3rem;
    font-family: 'Cinzel', serif;
    padding: 0.5rem 0.5rem;
    border: 0px solid black;
    border-radius: inherit;
    background-color: #0000007d;
    color: rgb(209, 209, 209);
}

#outCont{
    margin: 1rem 1rem;
    /* margin-left: 2rem; */
}